{% extends 'base.html' %}

{% block content %}
<div class="container justify-content-center">
        <img class="star" src="/static/star1.png">
        <h1>My Favorite Book Count : <span id="number">0</span></h1>
</div>

<div class="btn-group special" role="group" aria-label="...">
    <button type="button" class="btn btn-default" id="quilting" name="Quilting">Quilting</button>
    <button type="button" class="btn btn-default" id="computerscience" name="Computer Science">Computer Science</button>
    <button type="button" class="btn btn-default" id="social" name="Social">Social</button>
  </div>
<table class="table table-dark">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Cover</th>
        <th scope="col">Title</th>
        <th scope="col">Authors</th>
        <th scope="col">Publisher</th>
        <th scope="col">Favorite</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}