{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center p-4">
    <div class="col-lg-4 col-md-8 col-sm-10 col-xs-10">
        <div class="card text-white text-center bg-dark mb-3">
            <div class="card-header">Say Hello To The World!</div>
            <div class="card-body">
                <h5 class="card-title">Ariq Haryo Setiaki</h5>
                <img class="card-img img-fluid pb-2" src="https://lh3.googleusercontent.com/-AyOS-H5M6RE/AAAAAAAAAAI/AAAAAAAAAQ0/_LsLXnPekCw/s640-il/photo.jpg" alt="Ariq Haryo Setiakis">
                <div id="flip">My Activities</div>
                <div id="panel">
                    <div class="col">
                        <div class="media">
                            <img class="align-self-center mr-3" src="http://2.bp.blogspot.com/-A79MAddtuVU/T9DqAvdtCcI/AAAAAAAAA6o/laGYTOxIIZM/s200/fasilkom.png" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">Undergraduate Student</h5>
                                <p>Information System - Faculty of Computer Science - Universitas Indonesia </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="media">
                            <img class="align-self-center mr-3" src="https://bem.cs.ui.ac.id/staf/assets/2018/img/Departemen%20Kajian%20dan%20Aksi%20Strategis.png">
                            <div class="media-body">
                                <h5 class="mt-0">Staff</h5>
                                <p>Department of Research and Strategic Act - Student Excecutive Board of Faculty of Computer Science Universitas Indonesia 2018</p>
                            </div>
                        </div>
                    </div>     
                </div>
                <div id="flip1">Experience</div>
                <div id="panel1">
                    <div class="col">
                        <div class="media">
                            <img class="align-self-center mr-3" src="https://pbs.twimg.com/profile_images/977164947493826560/0pFZav0k_400x400.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">Staff</h5>
                                <p>Division of Data Science Academy - Compfest X</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="flip2">Achievement</div>
                <div id="panel2">
                    <div class="col">
                        <div class="media">
                            <img class="align-self-center mr-3" src="https://bem.cs.ui.ac.id/staf/assets/2018/img/Lainnya.png" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">Best Staff</h5>
                                <p>Student Executive Board of Faculty of Computer Science Universitas Indonesia 2018</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}